@page
@model WebApplication1.Pages.Shared.Rstaurante_chetosModel
@{
}
<!DOCTYPE html>
    <html>
    <head>
        <title>
            Restaurante de chetos
        </title>
    </head>
    <body>
        <h1>Restaurante de chetos</h1>
        <p>Bienvenido al lugar donde solo hay chetos de distintas formas y sabores</p>
        <p>No aseguramos que salga de aqui con vida.</p>
    <p>¡Buen provecho!</p>
    <div="Cards">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        
        </div>
    </div>
    </body>
    </html>